.DS_Store
.com.apple*
.pub/*
client/.pub/*
packages/*
client/packages/*
.idea/**
.vscode/**

*active*.txt
*alive*.txt
*finished.txt
*starting.txt
api20*.txt
worker20*.txt
sendmail20*.txt
worker_finis*.txt
worker_start*.txt
*.dart.snapshot
.packages

config/config.yaml
**/.dart_tool/*
autzone_client/.dart_tool/*
autzone_client/build/*
models/.dart_tool/*

