.DS_Store
.pub/*
client/.pub/*
packages/*
client/packages/*

*active*.txt
*alive*.txt
*finished.txt
*starting.txt
api20*.txt
worker20*.txt
sendmail20*.txt
worker_finis*.txt
worker_start*.txt

config/config.yaml
